@tailwind base;

@layer base {
  :root {
    color-scheme: light;
    --theme-bg: #fafafa;
    --theme-link: #567c77;
    --theme-text: #22272a;
    --theme-accent: #cc2a42;
    --theme-accent-2: #111;
    --theme-quote: #cc2a42;
    --theme-menu-bg: rgb(250 250 250 / 0.85);
  }

  :root.dark {
    color-scheme: dark;
    --theme-bg: #1d1f21;
    --theme-link: lightgreen;
    --theme-text: #c9cacc;
    --theme-accent: #2bbc89;
    --theme-accent-2: #eee;
    --theme-quote: #ccffb6;
    --theme-menu-bg: rgb(29 31 33 / 0.85);
  }

  html {
    @apply h-full scroll-smooth;
  }

  html body {
    @apply mx-auto flex h-full max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
  }
}

@tailwind components;
@tailwind utilities;

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}
